<S> -> <StatementList> <$NEWLINE> | NEWLINE 
<StatementList> -> <Statement> <$01<StatementList>> | <$PRINT> <$01<PrintState>> | <$IDENTIFIER> <$01<AssignState>> | <$IF> <$01<IfState>> | <$IF> <$11<IfState>> | <$BEGIN> <CodeBlock> | <$EXPECT> <$01<ExpectState>> | <$REVEAL> <$01<RevealState>> 
<Statement> -> <$PRINT> <$01<PrintState>> | <$IDENTIFIER> <$01<AssignState>> | <$IF> <$01<IfState>> | <$IF> <$11<IfState>> | <$BEGIN> <CodeBlock> | <$EXPECT> <$01<ExpectState>> | <$REVEAL> <$01<RevealState>> 
<CodeBlock> -> <$RBRACKET> <$01<CodeBlock>> 
<RevealState> -> <$REVEAL> <$01<RevealState>> 
<PrintState> -> <$PRINT> <$01<PrintState>> 
<AssignState> -> <$IDENTIFIER> <$01<AssignState>> 
<IfState> -> <$IF> <$01<IfState>> | <$IF> <$11<IfState>> 
<ElseList> -> <ElseIf> <ElseList> | <$VERTICALBAR> <$01<ElseIf>> | <$VERTICALBAR> <CodeBlock> 
<ElseIf> -> <$VERTICALBAR> <$01<ElseIf>> 
<Else> -> <$VERTICALBAR> <CodeBlock> 
<BeginState> -> <$BEGIN> <CodeBlock> 
<ExpectState> -> <$EXPECT> <$01<ExpectState>> 
<Expr> -> <Expr> <$01<Expr>> | <Expr1> <$01<Expr1>> | <Term> <$01<Term>> | INTEGER | IDENTIFIER | FLOAT | <$PREV> <$IDENTIFIER> | <$RPAREN> <$51<Factor>> | TRUE | FALSE 
<Expr1> -> <Expr1> <$01<Expr1>> | <Term> <$01<Term>> | INTEGER | IDENTIFIER | FLOAT | <$PREV> <$IDENTIFIER> | <$RPAREN> <$51<Factor>> | TRUE | FALSE 
<Term> -> <Term> <$01<Term>> | INTEGER | IDENTIFIER | FLOAT | <$PREV> <$IDENTIFIER> | <$RPAREN> <$51<Factor>> | TRUE | FALSE 
<Factor> -> INTEGER | IDENTIFIER | FLOAT | <$PREV> <$IDENTIFIER> | <$RPAREN> <$51<Factor>> | TRUE | FALSE 
<CompOp> -> EQUALOP | NOTEQUALOP | GTHANOP | GETHANOP | LTHANOP | LETHANOP 
<MulOp> -> MULOP | DIVOP | MODOP 
<AddOp> -> ADDOP | SUBOP 
<Bool> -> TRUE | FALSE 
<$S> -> <StatementList> <$NEWLINE> | NEWLINE 
<$NEWLINE> -> NEWLINE 
<$RBRACKET> -> RBRACKET 
<$LBRACKET> -> LBRACKET 
<$REVEAL> -> REVEAL 
<$RPAREN> -> RPAREN 
<$IDENTIFIER> -> IDENTIFIER 
<$LPAREN> -> LPAREN 
<$PRINT> -> PRINT 
<$ASSIGNMENT> -> ASSIGNMENT 
<$IF> -> IF 
<$VERTICALBAR> -> VERTICALBAR 
<$BEGIN> -> BEGIN 
<$EXPECT> -> EXPECT 
<$PREV> -> PREV 
<$01<StatementList>> -> <$NEWLINE> <StatementList> 
<$01<CodeBlock>> -> <$NEWLINE> <$02<CodeBlock>> 
<$02<CodeBlock>> -> <StatementList> <$03<CodeBlock>> 
<$03<CodeBlock>> -> <$NEWLINE> <$LBRACKET> 
<$01<RevealState>> -> <$RPAREN> <$02<RevealState>> 
<$02<RevealState>> -> <$IDENTIFIER> <$LPAREN> 
<$01<PrintState>> -> <$RPAREN> <$02<PrintState>> 
<$02<PrintState>> -> <Expr> <$LPAREN> 
<$01<AssignState>> -> <$ASSIGNMENT> <Expr> 
<$01<IfState>> -> <Expr> <CodeBlock> 
<$11<IfState>> -> <Expr> <$12<IfState>> 
<$12<IfState>> -> <CodeBlock> <ElseList> 
<$01<ElseIf>> -> <Expr> <CodeBlock> 
<$01<ExpectState>> -> <Expr> <CodeBlock> 
<$01<Expr>> -> <CompOp> <Expr1> 
<$01<Expr1>> -> <AddOp> <Term> 
<$01<Term>> -> <MulOp> <Factor> 
<$51<Factor>> -> <Expr> <$LPAREN> 